.App {
  text-align: center;
}
body {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #282c34;
  color: #61dafb;
  padding: 5;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15%;
}

.addBtn {
  position: absolute !important;
  right: 20px;
  background-color: #3da9c7 !important;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #333333;
  padding-top: 20px;
  display: none;
}
.titleIn {
  display: flex;
  align-self: center;
}

.textIn {
  margin-top: 10px;
  height: 150px;
  width: 50vw;
  font-size: 18px;
}
.btnUp {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: flex;
  align-self: center;
}

/*
#61dafb
#282c34
*/
